@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Jost:ital@0;1&family=Space+Mono&display=swap");

:root {
  --dark-blue-gray: hsl(234.8, 20.7%, 21.8%);
  --dark-blue-gray1: hsl(234.8, 20.7%, 25.8%); /* # */
  --dark-blue-gray2: hsl(234.8, 20.7%, 32.8%);

  --medium-gray: hsl(270, 7.9%, 34.9%);
  --medium-gray1: hsl(270, 7.9%, 39.9%); /* # */
  --medium-gray2: hsl(270, 7.9%, 45.9%);

  --light-gray: hsl(247.5, 5.4%, 71%);
  --light-gray1: hsl(247.5, 5.4%, 75%); /* # */
  --light-gray2: hsl(247.5, 5.4%, 82%);
  --light-gray3: hsl(247.5, 5.4%, 40%);

  --yellow: hsl(48.5, 100%, 56.9%);
  --yellow1: hsl(48.5, 100%, 47.9%); /* # */
  --yellow2: hsl(48.5, 100%, 45.9%);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: hsl(0, 0%, 87.8%);
  font-size: 1em;
  font-family: "Jost", sans-serif;
}

main {
  width: 70%;
  margin: 60px auto;
}

section {
  border: 2px solid hsl(0, 0%, 89.8%);
  padding: 30px;
  margin: 15px 0;
}

section > div {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  line-height: 1;
  color: var(--light-gray);
  font-size: 125%;
}

h1,
h2 {
  margin: 15px 0 30px;
}

h1 {
  font-size: 300%;
}

h4 {
  margin: 15px 0 6px;
}

p {
  user-select: text;
  cursor: text;
  color: hsl(0, 0%, 17.6%);
}

h2 span,
h2 span a {
  color: var(--light-gray2);
  display: inline-block;
}

h2 span {
  margin-left: 6px;
  font-size: 70%;
  vertical-align: middle;
}

h2 span a {
  margin: 0 6px;
  transition: color 150ms ease-in-out;
}

h2 span a:hover {
  color: var(--yellow2);
}

p::selection {
  background-color: var(--medium-gray);
  color: #eee;
}

.swatch {
  display: inline-block;
  width: 240px;
  height: 120px;
  transition: transform 150ms ease-in-out;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}

.font-card {
  /* Font "cards" */
  width: 350px;
  display: inline-block;
  text-align: left;
  padding: 0 30px;
  vertical-align: top;
}

.font-card h3 {
  color: black;
  margin-bottom: 6px;
}

.font-card > div:first-child {
  height: 300px;
}

.swatch > span {
  font-size: 120%;
  line-height: 120px;
  font-family: "Space Mono", monospace;
}

.swatch > span span {
  padding-left: 3px;
}

.dark-blue-gray {
  background-color: var(--dark-blue-gray);
  color: var(--dark-blue-gray2);
}

.dark-blue-gray span em {
  /* # */
  color: var(--dark-blue-gray1);
}

.medium-gray {
  background-color: var(--medium-gray);
  color: var(--medium-gray2);
}

.medium-gray span em {
  /* # */
  color: var(--medium-gray1);
}

.light-gray {
  background-color: var(--light-gray);
  color: var(--light-gray2);
}

.light-gray span em {
  /* # */
  color: var(--light-gray1);
}

.yellow {
  background-color: var(--yellow);
  color: var(--yellow2);
}

.yellow span em {
  /* # */
  color: var(--yellow1);
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.sans-serif {
  font-family: "Jost", sans-serif;
}

.monospace {
  font-family: "Space Mono", monospace;
}

.monospace p {
  font-size: 85%;
}

.serif {
  font-family: "Crimson Text", serif;
}

.serif p {
  line-height: 1.25;
  font-size: 100%;
}

.serif h3 {
  font-size: 135%;
}

.serif .bold {
  font-weight: 600;
}

.monospace h4,
.serif h4 {
  font-family: "Jost", sans-serif;
}

#styles .style-element {
  margin: 0;
  line-height: 1;
}

p.style-element {
  font-family: "Crimson Text", serif;
}

.style-group {
  margin: 15px;
  background-color: hsl(0, 0%, 85.8%);
  width: 500px;
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  height: 190px;
}

.code-block {
  margin-top: 15px;
}

.code-tab1,
.code-tab2 {
  font-family: "Space Mono", monospace;
}

.code-guide {
  color: var(--light-gray);
  display: block;
  color: hsl(0, 0%, 17.6%);
  font-size: 75%;
}

.code-guide .str {
  color: green;
}

.code-guide .num {
  color: deeppink;
}

.code-guide .code-comment {
  color: var(--light-gray);
  font-style: italic;
}

.code-tab1 {
  padding-left: 1.25em;
}

.code-tab2 {
  padding-left: 2.5em;
}
